/*
  any variables and settings should be defined here,
  like colors for instance
*/

$font-base: 16px;

$base-font-weight: normal;
$base-font-size: 1em;
$base-line-height: 1.5;
$base-font-family: "Proxima Nova", "Helvetica", Arial, sans-serif;

$background-color: #eeeeee;
$text-color: #333333;

$layout-width: 978px;
$total-columns: 12;
$gutter-width: 30px;

// Buttons
$btn-bg-color: #000000;
$btn-text-color: #ffffff;
