// ==========================================================================
// Guidebook
// v1.0.0
// ==========================================================================

@import "normalize";
@import "syntax";

//
// Variables
// ==========================================================================

$sg-header-bg-color: #c7c7c7;
$sg-sidebar-bg-color: #f9f9f9;
$sg-content-bg-color: #ffffff;
$sg-footer-bg-color: #c7c7c7;

//
// Globals
// ==========================================================================

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
  font-family: 'Roboto';
}

//
// Layout
// ==========================================================================

.sg {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

.sg-header {
    padding: 1em;
    background-color: $sg-header-bg-color;
}

.sg-main {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.sg-footer {
    padding: 1em;
    background-color: $sg-footer-bg-color;
}

//
// Header
// ==========================================================================

.sg-title {
    margin: 0;
}

//
// Navigation
// ==========================================================================

.sg-sidebar {
    padding: 1em;
    background-color: $sg-sidebar-bg-color;
}

.sg-nav {
    padding: 0;
    margin: 0 0 1em 0;
    list-style: none;
    .sg-nav-item {

    }
}

.sg-subnav {
    padding: 0;
    list-style: none;
    .sg-subnav-item {
        margin-bottom: 1em;
    }
}

.sg-nav-section {
    font-weight: 700;
    text-transform: uppercase;
}

//
// Content
// ==========================================================================

.sg-content {
    flex: 1;
    padding: 1em;
    background-color: $sg-content-bg-color;
}

//
// Code block
// ==========================================================================

pre {
  font-family: 'Roboto Mono', monospace;
  padding: 2em;
  background-color: #f7f7f7;
  color: #555555;
  code {
    font-family: 'Roboto Mono', monospace;
  }
}
