// ==========================================================================
// Guidebook
// v1.0.0
// ==========================================================================

@import "normalize";
@import "syntax";

//
// Variables
// ==========================================================================

$sg-header-bg-color: #427DC2;
$sg-sidebar-bg-color: #3B5069;
$sg-content-bg-color: #ffffff;
$sg-intro-bg-color: #f9f9f9;
$sg-footer-bg-color: #F4F4F4;

$sg-heading-color: #73797E;
$sg-heading-font: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$sg-text-color: #323B43;
$sg-text-font: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$sg-title-color: #fff;

$sg-padding: 1.5em;

//
// Globals
// ==========================================================================

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
  font-family: $sg-text-font;
  color: $sg-text-color;
  font-size: 16px;
  line-height: 1.5;
}

//
// Layout
// ==========================================================================

.sg {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

.sg-header {
    padding: ($sg-padding / 2) $sg-padding;
    background-color: $sg-header-bg-color;
}

.sg-main {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.sg-footer {
    padding: ($sg-padding / 2) $sg-padding;
    background-color: $sg-footer-bg-color;
    color: #aeaeae;
}

//
// Header
// ==========================================================================

.sg-title {
    font-size: 1.5rem;
    color: $sg-title-color;
    font-weight: 500;
    margin: 0;
}

//
// Navigation
// ==========================================================================

.sg-sidebar {
    min-width: 260px;
    padding: $sg-padding;
    background-color: $sg-sidebar-bg-color;
}

.sg-nav {
    padding: 0;
    margin: 0 0 1em 0;
    list-style: none;
    .sg-nav-item {
        margin-bottom: 1.5rem;
    }
}

.sg-subnav {
    padding: 0;
    list-style: none;
    .sg-subnav-item {
        font-family: $sg-heading-font;
        color: #fff;
        font-size: 1rem;
        line-height: 1.75;
        a {
            color: inherit;
            text-decoration: none;
            line-height: 1.75;
        }
    }
}

.sg-nav-section {
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 300;
    text-transform: uppercase;
    color: #AAB3BE;
}

//
// Content
// ==========================================================================

.sg-content {
    flex: 1;
    background-color: $sg-content-bg-color;
}

.sg-intro {
    padding: $sg-padding;
    background-color: $sg-intro-bg-color;
}

.sg-page-title {
    font-family: $sg-heading-font;
    font-weight: 700;
    color: #73797E;
    font-size: 3rem;
    margin: 0 0 1rem 0;
    line-height: 1;
}

.sg-page-subtitle {
    font-size: 1.375rem;
    margin: 1rem 0 1rem 0;
    line-height: 1.3;
}

.sg-page-nav {
    background-color: #EFEFEF;
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding: ($sg-padding / 2) $sg-padding;
        li {
            padding: 0 1rem 0 0;
            a {
                font-family: $sg-heading-font;
                color: #6C6C6C;
                text-decoration: none;
            }
        }
    }
}

.sg-section {
    padding: $sg-padding;
}

//
// Typography
// ==========================================================================

.sg-heading {}

//
// Code block
// ==========================================================================

pre {
  font-family: 'Roboto Mono', monospace;
  padding: 2em;
  background-color: #f7f7f7;
  color: #555555;
  code {
    font-family: 'Roboto Mono', monospace;
  }
}
