---
title: Welcome to Guidebook
---
%section.sg-section
  %h1.sg.sg-section-title Layout
  %h2.sg Grid
  %h3.sg Basic grid
  .sg-example.no-flexbox
    .row.show-grid
      .col-1of3
        %span .col-1of3
      .col-1of3
        %span .col-1of3
      .col-1of3
        %span .col-1of3
      .col-1of3
        %span .col-1of3
    .row.show-grid
      .col-2of3
        %span .col-2of3
      .col-1of3
        %span .col-1of3
  %h3.sg Flexbox grid
  .sg-example
    .row.show-grid
      .col-1of3
        %span .col-1of3
      .col-1of3
        %span .col-1of3
      .col-1of3
        %span .col-1of3
      .col-1of3
        %span .col-1of3
    .row.show-grid
      .col-2of3
        %span .col-2of3
      .col-1of3
        %span .col-1of3
  %h3.sg Block grid
  %p.sg Block grids give you the ability to layout block of content on fixed grid.
  %h4.sg 2 columns
  .sg-example
    %ul.block-grid-2
      %li.block-grid-col
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, non culpa itaque modi deleniti beatae blanditiis fugit assumenda doloribus nam nemo sapiente asperiores minima quia nesciunt. Aut ex quo nam.
      %li.block-grid-col
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, neque, magni odio aspernatur illum asperiores esse! Tempore, a, eveniet? Fugit, quas, quaerat sit autem nisi fuga recusandae repellat cumque ratione.
      %li.block-grid-col
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, sunt ut esse error adipisci asperiores dolores consequatur mollitia necessitatibus unde blanditiis corporis vel nam dolor ducimus porro accusamus nesciunt fugit.
      %li.block-grid-col
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, praesentium, dolores asperiores voluptate cumque quaerat impedit vel maxime nemo nesciunt laudantium omnis quis aliquam quisquam numquam sint doloremque in mollitia.
  %h4.sg 3 columns
  .sg-example
    %ul.block-grid-3
      %li.block-grid-col
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, non culpa itaque modi deleniti beatae blanditiis fugit assumenda doloribus nam nemo sapiente asperiores minima quia nesciunt. Aut ex quo nam.
      %li.block-grid-col
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, neque, magni odio aspernatur illum asperiores esse! Tempore, a, eveniet? Fugit, quas, quaerat sit autem nisi fuga recusandae repellat cumque ratione.
      %li.block-grid-col
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, sunt ut esse error adipisci asperiores dolores consequatur mollitia necessitatibus unde blanditiis corporis vel nam dolor ducimus porro accusamus nesciunt fugit.
      %li.block-grid-col
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, non culpa itaque modi deleniti beatae blanditiis fugit assumenda doloribus nam nemo sapiente asperiores minima quia nesciunt. Aut ex quo nam.
      %li.block-grid-col
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, neque, magni odio aspernatur illum asperiores esse! Tempore, a, eveniet? Fugit, quas, quaerat sit autem nisi fuga recusandae repellat cumque ratione.
      %li.block-grid-col
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, sunt ut esse error adipisci asperiores dolores consequatur mollitia necessitatibus unde blanditiis corporis vel nam dolor ducimus porro accusamus nesciunt fugit.
  %h4.sg 4 columns
  .sg-example
    %ul.block-grid-4
      %li.block-grid-col
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, non culpa itaque modi deleniti beatae blanditiis fugit assumenda doloribus nam nemo sapiente asperiores minima quia nesciunt. Aut ex quo nam.
      %li.block-grid-col
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, neque, magni odio aspernatur illum asperiores esse! Tempore, a, eveniet? Fugit, quas, quaerat sit autem nisi fuga recusandae repellat cumque ratione.
      %li.block-grid-col
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, sunt ut esse error adipisci asperiores dolores consequatur mollitia necessitatibus unde blanditiis corporis vel nam dolor ducimus porro accusamus nesciunt fugit.
      %li.block-grid-col
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, praesentium, dolores asperiores voluptate cumque quaerat impedit vel maxime nemo nesciunt laudantium omnis quis aliquam quisquam numquam sint doloremque in mollitia.
      %li.block-grid-col
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, repellat, alias sunt nobis at deleniti tenetur incidunt. Dolor, expedita, voluptas, amet nemo quae accusantium enim obcaecati possimus eligendi modi iusto.
      %li.block-grid-col
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, et, animi id veniam nisi aliquam numquam quo aspernatur illum dicta laborum ut repudiandae deleniti minima molestiae ea quos veritatis sunt.
      %li.block-grid-col
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, cumque, sequi eum officia provident nesciunt placeat distinctio veniam magni mollitia officiis at quae eveniet voluptate suscipit non dolor pariatur amet.
      %li.block-grid-col
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod minus et nesciunt nisi excepturi reiciendis odio est accusantium! Aut, eligendi, dolores hic iure eius distinctio maiores omnis? Suscipit, animi, eos!
  %h4.sg 5 columns
  .sg-example
    %ul.block-grid-5
      %li.block-grid-col
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, non culpa itaque modi deleniti beatae blanditiis fugit assumenda doloribus nam nemo sapiente asperiores minima quia nesciunt. Aut ex quo nam.
      %li.block-grid-col
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, neque, magni odio aspernatur illum asperiores esse! Tempore, a, eveniet? Fugit, quas, quaerat sit autem nisi fuga recusandae repellat cumque ratione.
      %li.block-grid-col
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, sunt ut esse error adipisci asperiores dolores consequatur mollitia necessitatibus unde blanditiis corporis vel nam dolor ducimus porro accusamus nesciunt fugit.
      %li.block-grid-col
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, praesentium, dolores asperiores voluptate cumque quaerat impedit vel maxime nemo nesciunt laudantium omnis quis aliquam quisquam numquam sint doloremque in mollitia.
      %li.block-grid-col
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, repellat, alias sunt nobis at deleniti tenetur incidunt. Dolor, expedita, voluptas, amet nemo quae accusantium enim obcaecati possimus eligendi modi iusto.
      %li.block-grid-col
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, non culpa itaque modi deleniti beatae blanditiis fugit assumenda doloribus nam nemo sapiente asperiores minima quia nesciunt. Aut ex quo nam.
      %li.block-grid-col
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, neque, magni odio aspernatur illum asperiores esse! Tempore, a, eveniet? Fugit, quas, quaerat sit autem nisi fuga recusandae repellat cumque ratione.
      %li.block-grid-col
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, sunt ut esse error adipisci asperiores dolores consequatur mollitia necessitatibus unde blanditiis corporis vel nam dolor ducimus porro accusamus nesciunt fugit.
      %li.block-grid-col
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, praesentium, dolores asperiores voluptate cumque quaerat impedit vel maxime nemo nesciunt laudantium omnis quis aliquam quisquam numquam sint doloremque in mollitia.
      %li.block-grid-col
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, repellat, alias sunt nobis at deleniti tenetur incidunt. Dolor, expedita, voluptas, amet nemo quae accusantium enim obcaecati possimus eligendi modi iusto.

%section.sg-section
  %h1.sg.sg-section-title Components
  %article.sg
    %h2.sg Buttons
    .sg-example
      %a.btn{:href => ""} Configure
      %a.btn{:href => ""} Logout
    .sg-example-code
      %pre
        %code
          =preserve do
            :escaped

%section.sg-section
  %h1.sg.sg-section-title Modules
  %h2.sg Navigation
  %h3.sg Vertical Navigation
  .sg-example
    %nav
      %span.nav-title Your products
      %ul.nav.nav-vertical
        %li
          %a{:href => ""} Nav item
        %li
          %a{:href => ""} Nav item
        %li
          %a{:href => ""} Nav item
  .sg-example-code
    %pre
      %code
        =preserve do
          :escaped
  %h3.sg Horizontal Navigation
  .sg-example
    %nav
      %ul.nav.nav-horizontal
        %li
          %a{:href => ""} Link
        %li
          %a{:href => ""} Link
        %li
          %a{:href => ""} Link
        %li
          %a{:href => ""} Link
  .sg-example-code
    %pre
      %code
        =preserve do
          :escaped
  %h3.sg Nav Bar
  .sg-example
    %nav.nav-bar
      %ul.nav.nav-horizontal
        %li
          %a{:href => ""} Cloud Servers
        %li
          %a{:href => ""} Test.com
  .sg-example-code
    %pre
      %code
        =preserve do
          :escaped
  %h3.sg Tabbed nav
  %h3.sg Pilled navigation
  %h3.sg Breadcrumb
  .sg-example
    %ul.breadcrumb
      %li
        %a{:href => ""} Cloud servers
      %li
        %a{:href => ""} yourcloud.com
      %li
        %a{:href => ""} Settings
  .sg-example-code
    %pre
      %code
        =preserve do
          :escaped
  %h4.sg Breadcrumb with badges
  .sg-example
    %ul.breadcrumb
      %li
        %span.badge 3
        %a{:href => ""} Select Action
      %li.is-active
        %span.badge 10
        %a{:href => ""} Confirm
      %li
        %span.badge 7
        %a{:href => ""} You're done
  .sg-example-code
    %pre
      %code
        =preserve do
          :escaped
            <ul class="breadcrumb">
              <li>
                <span class="badge">3</span>
                <a href="">Select Action</a>
              </li>
              <li class="is-active">
                <span class="badge">10</span>
                <a href="">Confirm</a>
              </li>
              <li>
                <span class="badge">7</span>
                <a href="">You're done</a>
              </li>
            </ul>
  %h4.sg Breadcrumb with step counter
  %p.sg
    Add
    %code .breadcrumb-steps
    to have an automatic counter in the breadcrumb
  .sg-example
    %ul.breadcrumb.breadcrumb-steps
      %li
        %a{:href => ""} Select Action
      %li.is-active
        %a{:href => ""} Confirm
      %li
        %a{:href => ""} You're done
  .sg-example-code
    %pre
      %code
        = preserve do
          :escaped
            <ul class="breadcrumb breadcrumb-steps">
              <li>
                <a href="">Select Action</a>
              </li>
              <li class="is-active">
                <a href="">Confirm</a>
              </li>
              <li>
                <a href="">You're done</a>
              </li>
            </ul>

  %article
    %h3.sg Pagination
    .sg-example
      %nav.pagination
        %ul
          %li
            %a{:href => ""} &larr; Prev
          %li
            %a{:href => ""} 1
          %li
            %a{:href => ""} 2
          %li
            %a{:href => ""} Next &rarr;
    .sg-example-code
      %pre
        %code
          = preserve do
            :escaped
              <nav class="pagination">
                <ul>
                  <li>
                    <a href="">&larr; Prev</a>
                  </li>
                  <li>
                    <a href="">1</a>
                  </li>
                  <li>
                    <a href="">2</a>
                  </li>
                  <li>
                    <a href="">Next &rarr;</a>
                  </li>
                </ul>
              </nav>
  %h2.sg Tabs
  .sg-example
    %ul.tabs
      %li Tab 1
      %li Tab 2
    .tab-pane
      Tab 1
    .tab-pane
      Tab 2
  .sg-example-code
    %pre
      %code
        =preserve do
          :escaped
  %h2.sg Panels
  %p.sg
    A
    %code .panel
    is divided in 3 sections
    %code .panel-header
    ,
    %code .panel-body
    and
    %code .panel-footer
  .sg-example
    .block-grid-5
      .block-grid-col
        &nbsp;
      .block-grid-col
        .panel
          .panel-header.border-bottom
            %p Cloud Server
          .panel-body
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, totam, repellendus minus sapiente doloribus quasi voluptatibus distinctio eaque dolores necessitatibus.
            %p Culpa, nesciunt tenetur esse atque praesentium unde obcaecati.
          .panel-footer.border-top
            %p Voluptatum, iusto.
      .block-grid-col
        &nbsp;
      .block-grid-col
        .panel
          .panel-body
            %p.text-center
              %a{:href => ""}
                %i.fa.fa-cog.fa-5x
                %br/
                Configure
  .sg-example-code
    %pre
      %code
        =preserve do
          :escaped
  %h2.sg Cards
  .sg-example
    .card
      .card-front
        .card-header
          %i.fa.fa-bolt.fa-1x
          %span Card Header
        .card-body
          %dl
            %dt Alias
            %dd.info-alias Server Alias
            %dt Hostname
            %dd.info-hostname test.ca
            %dt Status
            %dd.info-status Active
            %dt OS
            %dd.info-os centos 6.4
            %dt Usage this period
            %dd.info-active-hours 1d 32m
            %dt Next Invoice
            %dd.info-next-invoice 2013-11-29
        .card-control
          %a{href: "#"}
            %i.fa.fa-pencil-square-o.fa-3x
            %span Rename
          %a{href: "#"}
            %i.fa.fa-trash-o.fa-3x
            %span Destroy
      .card-back
        .card-header
          Nice card
        .card-body
          %p
            %strong Do you want to delete ?
          %p Before choosing the delete action, be advised that your allocated storage will be deleted. Make sure to have a backup of your data.
        .card-control
          %a{href: "#"}
            %i.fa.fa-times-circle.fa-3x
          %a{href: "#"}
            %i.fa.fa-check-circle.fa-3x
  .sg-example-code
    %pre
      %code
        =preserve do
          :escaped
  %h2.sg Forms
  %h3.sg Single input
  .sg-example
    %form{:action => ""}
      %input{:type => "text", placeholder: "Fill me!"}/
  .sg-example-code
    %pre
      %code
        =preserve do
          :escaped
  %h3.sg Inline form
  .sg-example
    %form{:action => ""}
      %label{:for => ""} Server name
      %input{:type => "text", placeholder: "Your server name"}/
      %input.btn{:type => "submit", value: "Confirm"}/
      %button.btn Send
  .sg-example-code
    %pre
      %code
        =preserve do
          :escaped
  %h3.sg Search
  .sg-example
    %form{:action => ""}
      %input{:type => "text", placeholder: "Search"}/
  .sg-example-code
    %pre
      %code
        =preserve do
          :escaped
  %h2.sg Messages
  .sg-example
    .message
      .message-header
        %i.fa.fa-exclamation-circle
        Warning! Warning!
      .message-body
        %p Hic, assumenda, soluta, perspiciatis molestias molestiae placeat.
  .sg-example-code
    %pre
      %code
        =preserve do
          :escaped
  %h2.sg Misc
  %h3.sg Labels
  %h3.sg Badges
  .sg-example
    %span.badge 1
  .sg-example-code
    %pre
      %code
        =preserve do
          :escaped
  %h3.sg Tooltip
  .sg-example
    %p Lorem ipsum dolor sit amet, consectetur <span class="tooltip tip-top">adipisicing elit</span>.
    %span.tooltip.tip-top{:href => ""}
      %i.fa.fa-info-circle
  .sg-example-code
    %pre
      %code
        =preserve do
          :escaped
  %h3.sg Spinner
  .sg-example
    %ul.block-grid-3.text-center
      %li
        %i.fa.fa-spinner.fa-spin
      %li
        %i.fa.fa-spinner.fa-spin.fa-3x
      %li
        %i.fa.fa-spinner.fa-spin.fa-5x
  .sg-example-code
    %pre
      %code
        =preserve do
          :escaped
            <i class="fa fa-spinner fa-spin"></i>
            <i class="fa fa-spinner fa-spin fa-3x"></i>
            <i class="fa fa-spinner fa-spin fa-5x"></i>

